*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #e0e0e0;
}
.container{
  width: 30vw;
    height: 80vh;
    background-color: red;
    display: flex;
    justify-content: center;
    position: relative;
  background: #e0e0e0;
box-shadow:  16px 16px 18px #989898,
             -16px -16px 18px #ffffff;

  border-radius: 3%;
}
.circle{
       width: 20vw;
    height: 20vw;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
box-shadow:  17px 17px 30px #949494,
             -17px -17px 30px #ffffff;
}


.time{
      width: 40%;
    height:13%;
    background-color:#e0e0e0;
     display: flex;
  justify-content: space-evenly;
  align-items: center;
    position: absolute;
    top: 10%;
  font-size: 45px;
  box-shadow: inset 14px 14px 15px #8d8d8d,
            inset -14px -14px 15px #ffffff;
  border-radius: 10%;
  cursor: pointer;
 
}
.digit{
  
    height: 50%;
    position: absolute;
    left: 42%;
    top: 0;
    transform: rotate(calc(30deg* var(--i)));
    padding: 6px;
    text-align: center;
    /* display: inline; */
    transform-origin: bottom;
  
}
/* .digit::after{

    content: "";
    height: 75%;
    
    position: absolute;
    top: 25%;
    left: 50%;
}
.digit:hover::after{
  border: 1px solid;
} */

.digit p{
  transform: rotate(calc(-30deg* var(--i)));
  font-size:30px;
  text-align: center;
/*   border : 1px solid black; */
  display : inline-block;
  width : 34px;
  height: 34px;
  border-radius : 100px;
}
.digit2{
 /* border: 1px solid black; */
    /* width: 15px; */
    height: 35%;
    position: absolute;
    left: 45%;
    top: 16%;
    transform: rotate(calc(30deg* var(--i)));
    /* padding: 6px; */
    /* text-align: end; */
    transform-origin: bottom;
}
/* .digit2::after{
  border: 1px solid; 
    content: "";
    height: 75%;
    
    position: absolute;
    top: 25%;
    left: 50%;
}
.digit2:hover::after{
  border: 1px solid ;
} */
.digit2 p{
  transform: rotate(calc(-30deg* var(--i)));
  font-size:20px;
  text-align: center;
/*    border : 1px solid black; */
  display : inline-block;
  width : 26px;
  height: 26px;
  border-radius : 100px;
}
.t1 ,.t2{
  display: inline-block;
  height: 90%;
  width: 45%;
  
  
  padding: 17px ;  
}
.t1{
  padding-right: 0px;
  text-align: end;
  
}
.t2{
  padding-left: 0px;
  text-align: start;
  
}
.set  {
    position: absolute;
    top: 10px;
    font-size: 30px;
    left: 30px;
 
}
.check{
       position: absolute;
    top: 10px;
    font-size: 30px;
    right: 30px;
    
    width: 40px;
    text-align: center;
    border-radius: 100%;
}
.check:hover{
  background-color: black;
  color: #e0e0e0;
}
.setalarm{
  width: 80%;
  border-bottom: 2px solid #605f5f;;
  height: 53px;
   color: #605f5f;
  cursor: pointer;
}
.digit p:hover , .digit2 p:hover{
/*   border: 1px solid; */
  cursor: pointer;
  background-color: black;
  color: #e0e0e0;
}
.digit3{
     height: 48%;
    position: absolute;
    left: 45%;
    top: 2%;
    transform: rotate(calc(6deg* var(--i)));
/*     padding: 6px; */
    text-align: center;
    /* display: inline; */
    transform-origin: bottom;
  
  
}
.digit3 p{
  transform: rotate(calc(-6deg* var(--i)));
  font-size:30px;
  text-align: center;
/*    border : 1px solid black; */
  display : inline-block;
  width : 34px;
  height: 34px;
  border-radius : 100px;
  cursor: pointer;
}
.digit3 p:hover{
  
  background-color: black;
  color: #e0e0e0;
}
.digit4{
    height: 48%;
    position: absolute;
    left: 45%;
    top: 2%;
    transform: rotate(calc( 15deg + 6deg* var(--i)));
/*     padding: 6px; */
    text-align: center;
    /* display: inline; */
    transform-origin: bottom;
  
  
}
.digit4 p{
/*   transform: rotate(calc( -13deg - 6deg* var(--i))); */
  font-size:25px;
  text-align: center;
/*    border : 1px solid black; */
  display : inline-block;
  width : 34px;
  height: 34px;
  border-radius : 100px;
  cursor: pointer;
}
.digit4 p span{
  display: inline-block;
}
.pointminute:hover{
  -webkit-text-stroke: 5px black;
  text-stroke: 5px black;
}
.currenttime{
  width: 35%;
    height: 6%;
   
    position: absolute;
    left: 32%;
    top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  background: #e0e0e0;
box-shadow:  16px 16px 18px #989898,
             -16px -16px 18px #ffffff;
  border-radius: 10px;
}
.status{
  width: 70%;
  height: 15%;
/*   background-color: red; */
  position: absolute;
  bottom: 5%;
}
.s2{
      width: 100%;
    text-align: center;
    height: 60%;
    font-size: 2rem;
}
.s1{
      width: 100%;
    text-align: center;
    height: 40%;
    font-size: 2rem;
}
@media all and (max-width:400px){
  .container{
    width: 85vw;
    height: 75vh;
  }
  .circle{
    width: 70vw;
    height: 70vw;
  }
  .currenttime{
    width: 40%;
  }
  .time{
    width: 45%;
    top: 12%;
    
  }
  .s1{
    font-size :25px;
  }
}